

@import '../../variables/variables';

@import '../../mixins/mixins';

.mce-content-body {
	img {
		[data-mce-placeholder][data-wp-entity='{{module.slug_underscore}}'] {
			&,
			&[data-mce-selected] {
				display:block;
				background:#08775f;
			/* 	border:1px solid #08775f; */
				padding:0.5em;
				width:100%;
				height:40px;
				object-fit:cover;
			}
			&[data-mce-selected] {
				background:#73d0b4;
				box-shadow:0 0 10px rgba( 8,119,95,0.7 );
			}
		}
	}
}
