<?php
/**
 *	@package {{plugin.namespace}}\Shortcode
 *	@version 1.0.0
 *	2018-09-22
 */
namespace {{plugin.namespace}}\Shortcode;

if ( ! defined('ABSPATH') ) {
	die('FU!');
}

use {{plugin.namespace}}\Core;

abstract class Shortcode extends Core\Singleton {

	protected $shortcode = false;

	/**
	 *	@inheritdoc
	 */
	protected function __construct(){
		parent::__construct();
		if ( $this->shortcode ) {
			add_shortcode( $this->shortcode, array( $this, 'do_shortcode' ) );
		}
	}

	/**
	 *	@param array $atts
	 *	@param string $content
	 *	@return string
	 */
	abstract function do_shortcode( $atts, $content );

}
