<?php
/**
 *	@package {{plugin.namespace}}\Shortcode
 *	@version 1.0.0
 *	2018-09-22
 */

namespace {{plugin.namespace}}\Shortcode;

if ( ! defined('ABSPATH') ) {
	die('FU!');
}

use {{plugin.namespace}}\Core;

class {{component.classname}} extends Shortcode {

	protected $shortcode = '{{component.prefix}}';

{{#component.flagged.mce}}
	private $mce = null;

	/**
	 *	@inheritdoc
	 */
	protected function __construct() {
		parent::__construct();

		$this->mce = Mce\{{component.classname}}::instance();
	}
{{/component.flagged.mce}}

	/**
	 *	@inheritdoc
	 */
	public function do_shortcode( $atts, $content ) {
		return sprintf( '<pre>%s</pre><p>%s</p>', var_export( $atts, true ), $content );
	}

}
