<?php
/**
 *	@package {{plugin.namespace}}\Admin
 *	@version 1.0.0
 *	2018-09-22
 */

namespace {{plugin.namespace}}\Admin;

if ( ! defined('ABSPATH') ) {
	die('FU!');
}

use {{plugin.namespace}}\Core;


class AdminPage extends Core\Singleton {


}
