<?php
/**
 *	@package {{plugin.namespace}}\Admin
 *	@version 1.0.0
 *	2018-09-22
 */

namespace {{plugin.namespace}}\Admin\Page;

if ( ! defined('ABSPATH') ) {
	die('FU!');
}

use {{plugin.namespace}}\Core;

class {{component.classname}} extends Page {

	/**
	 *	@inheritdoc
	 */
	protected function __construct() {
		parent::__construct();

		$this->core = Core\Core::instance();

		add_action( 'admin_init' , array( $this, 'admin_init' ) );
		add_action( "admin_print_scripts" , array( $this, 'enqueue_assets' ) );
		add_action( 'admin_menu' , array( $this, 'add_admin_page' ) );
	}

	/**
	 * 	Add Admin page to menu
	 *
	 *	@action	admin_menu
	 */
	public function add_admin_page() {
		$page_hook = add_{{component.prefix}}_page( __( '{{component.name}} – {{plugin.name}}' , '{{plugin.textdomain}}' ), __( '{{plugin.name}}' , '{{plugin.textdomain}}' ), 'manage_options', '{{plugin.slug}}-{{component.slug}}', array( $this, 'render_page' ) );
		add_action( "load-{$page_hook}" , array( $this, 'enqueue_assets' ) );
	}

	/**
	 * 	Add Admin page to menu
	 */
	public function render_page() {
		?><div class="wrap"><?php
			?><h2><?php _e( '{{plugin_name}} ({{component.name}})' , '{{plugin.textdomain}}' ); ?></h2><?php
			?><p><?php _e( 'Content for {{component.name}}' , '{{plugin.textdomain}}' ); ?></p><?php
		?></div><?php
	}


	public function enqueue_assets() {
{{#component.flagged.css}}
		wp_enqueue_style( '{{plugin.slug}}-admin-page-{{component.slug}}' , $this->core->get_asset_url( '/css/admin/page/{{component.slug}}.css' ) );
{{/component.flagged.css}}
{{#component.flagged.js}}
		wp_enqueue_script( '{{plugin.slug}}-admin-page-{{component.slug}}' , $this->core->get_asset_url( 'js/admin/page/{{component.slug}}.js' ) );
		wp_localize_script('{{plugin.slug}}-admin-page-{{component.slug}}' , '{{plugin.slug}}_admin_page' , array(
		) );
{{/component.flagged.js}}
	}

	/**
	 * Admin init
	 */
	function admin_init() {
	}

}
