<?php
/**
 *	@package {{plugin.namespace}}\Widget
 *	@version 1.0.0
 *	2018-09-22
 */

namespace {{plugin.namespace}}\Widget;

if ( ! defined('ABSPATH') ) {
	die('FU!');
}

use {{plugin.namespace}}\Core;

class Widget extends Core\Singleton {

	/**
	 *	@inheritdoc
	 */
	protected function __construct() {
		parent::__construct();
		add_action( 'widgets_init', array( $this, 'widgets_init' ) );
	}

	/**
	 *	@action widgets_init
	 */
	public function widgets_init(){
{{#component.children}}
		register_widget("{{plugin.namespace}}\Widget\{{classname}}");
{{/component.children}}
	}

}
