<?php
/**
 *	@package {{plugin.namespace}}\Core
 *	@version 1.0.1
 *	2018-09-22
 */

namespace {{plugin.namespace}}\Core;

if ( ! defined('ABSPATH') ) {
	die('FU!');
}

{{#plugin.components.compat}}
use {{plugin.namespace}}\Compat;
{{/plugin.components.compat}}

class Core extends Plugin {

	/**
	 *	@inheritdoc
	 */
	protected function __construct() {

{{#plugin.components.compat}}
		add_action( 'plugins_loaded' , array( $this , 'init_compat' ), 0 );
{{/plugin.components.compat}}
		add_action( 'init' , array( $this , 'init' ) );

		add_action( 'wp_enqueue_scripts' , array( $this , 'wp_enqueue_style' ) );

		$args = func_get_args();
		parent::__construct( ...$args );
	}

	/**
	 *	Load frontend styles and scripts
	 *
	 *	@action wp_enqueue_scripts
	 */
	public function wp_enqueue_style() {
{{#component.flagged.css}}
		wp_enqueue_style( '{{plugin.prefix}}-style', $this->get_asset_url( 'css/main.css' ) );
{{/component.flagged.css}}
{{#component.flagged.js}}
		wp_enqueue_script( '{{plugin.prefix}}-script', $this->get_asset_url( 'js/main.js' ), array( 'jquery' ) );
{{/component.flagged.js}}
	}


{{#plugin.components.compat}}
	/**
	 *	Load Compatibility classes
	 *
	 *  @action plugins_loaded
	 */
	public function init_compat() {
		{{#plugin.components.compat.children}}
		{{#isACF}}
		if ( function_exists('\acf') && version_compare( acf()->version,'5.0.0','>=') ) {
			Compat\ACF::instance();
		}
		{{/isACF}}
		{{#isPLL}}
		if ( defined('POLYLANG_VERSION') && version_compare( POLYLANG_VERSION, '1.0.0', '>=' ) ) {
			Compat\Polylang::instance();
		}
		{{/isPLL}}
		{{#isREG}}
		if ( class_exists( '\RegenerateThumbnails' ) ) {
			Compat\RegenerateThumbnails::instance();
		}
		{{/isREG}}
		{{#isWPMU}}
		if ( is_multisite() && function_exists('is_plugin_active_for_network') && is_plugin_active_for_network( $this->get_wp_plugin() ) ) {
			Compat\WPMU::instance();
		}
		{{/isWPMU}}
		{{^isWPMU}}
		if ( false /* write your own condition! */ ) {
			Compat\{{classname}}::instance();
		}
		{{/isWPMU}}
		{{/plugin.components.compat.children}}
	}
{{/plugin.components.compat}}


	/**
	 *	Init hook.
	 *
	 *  @action init
	 */
	public function init() {
	}

	/**
	 *	Get asset url for this plugin
	 *
	 *	@param	string	$asset	URL part relative to plugin class
	 *	@return string URL
	 */
	public function get_asset_url( $asset ) {
		return plugins_url( $asset, $this->get_plugin_file() );
	}


	/**
	 *	Get asset url for this plugin
	 *
	 *	@param	string	$asset	URL part relative to plugin class
	 *	@return string URL
	 */
	public function get_asset_path( $asset ) {
		return $this->get_plugin_dir() . '/' . preg_replace( '/^(\/+)/', '', $asset );
	}


}
