<?php
/**
 *	@package {{plugin.namespace}}\Taxonomy
 *	@version 1.0.0
 *	2018-09-22
 */

namespace {{plugin.namespace}}\Taxonomy;

if ( ! defined('ABSPATH') ) {
	die('FU!');
}


class {{component.classname}} extends Taxonomy {

	/**
	 *	@inheritdoc
	 */
	protected $taxonomy_slug = '{{component.slug}}';


	/**
	 *	Register taxonomy
	 */
	public function register_taxonomy( ) {

		// labels
		$labels = array(
			'name'              => _x( '{{component.name}}s', 'taxonomy general name' , '{{plugin.textdomain}}' ),
			'singular_name'     => _x( '{{component.name}}', 'taxonomy singular name' , '{{plugin.textdomain}}' ),
			'search_items'      => __( 'Search {{component.name}}s' , '{{plugin.textdomain}}' ),
			'all_items'         => __( 'All {{component.name}}s' , '{{plugin.textdomain}}' ),
			'parent_item'       => __( 'Parent {{component.name}}' , '{{plugin.textdomain}}' ),
			'parent_item_colon' => __( 'Parent {{component.name}}:' , '{{plugin.textdomain}}' ),
			'edit_item'         => __( 'Edit {{component.name}}' , '{{plugin.textdomain}}' ),
			'update_item'       => __( 'Update {{component.name}}' , '{{plugin.textdomain}}' ),
			'add_new_item'      => __( 'Add New {{component.name}}' , '{{plugin.textdomain}}' ),
			'new_item_name'     => __( 'New {{component.name}}' , '{{plugin.textdomain}}' ),
			'menu_name'         => __( '{{component.name}}s' , '{{plugin.textdomain}}' ),
			'popular_items'		=> null,
		);

		$args = array(
			'hierarchical'		=> false,
			'labels'			=> $labels,
			'show_ui'			=> true,
			'public'			=> true,
			'show_admin_column' => true,
//			'meta_box_cb'		=> false,
		);

		register_taxonomy( $this->taxonomy_slug, array(), $args );

	}


}
