<?php
/**
 *	@package {{plugin.namespace}}\WPCLI
 *	@version 1.0.0
 *	2018-09-22
 */

namespace {{plugin.namespace}}\WPCLI;

if ( ! defined('ABSPATH') ) {
	die('FU!');
}

class {{component.classname}} extends \WP_CLI_Command {

	/**
	 * Bark.
	 *
	 * ## OPTIONS
	 * <animal>...
	 * : Type of animal
	 * ---
	 * default: dog
	 * options:
	 *  - dog
	 *  - cat
	 *  - wolve
	 *  - squirrel
	 *  - mole
	 * ---
	 *
	 * --volume=<volume>
	 * : sound volume of barking.
	 * ---
	 * default: normal
	 * options:
	 *   - quiet
	 *   - normal
	 *   - loud
	 * ---
	 *
	 * ## EXAMPLES
	 *
	 *     wp access-areas bark dog mole wolve --volume=quiet
	 *
	 *	@alias comment-check
	 */
	public function bark( $args, $assoc_args ) {
		$total = 0;
		foreach ( $args as $animal ) {
			if ( in_array( $animal, array( 'dog', 'wolve' ) ) ) {
				$total++;
				if ( $animal === 'dog' ) {
					$bark = __( "Rouff", '{{plugin.textdomain}}' );
				} else {
					$bark = __( "Ahooouuu", '{{plugin.textdomain}}' );
				}
				switch ( $assoc_args['volume'] ) {
					case 'loud':
						$bark = strtoupper($bark) . '!!!';
						break;
					case 'quiet':
						$bark = '(' . strtolower($bark) . '...)';
						break;
				}
				\WP_CLI::line( $bark );
			} else if ( $animal === 'cat' ) {
				\WP_CLI::error( __( "Bad Idea, chuck!", '{{plugin.textdomain}}' ) );
			} else {
				\WP_CLI::warning( __( "$animal did not bark.", '{{plugin.textdomain}}' ) );
			}
		}
		\WP_CLI::success( sprintf( __( "%d animal(s) barked.", '{{plugin.textdomain}}' ), $total ) );
	}

}
