<?php
/**
 *	@package {{plugin.namespace}}\WPRest
 *	@version 1.0.0
 *	2018-09-22
 */

namespace {{plugin.namespace}}\WPRest;

if ( ! defined('ABSPATH') ) {
	die('FU!');
}

use {{plugin.namespace}}\Core;

class WPRest extends Core\Singleton {

	/**
	 *	@inheritdoc
	 */
	protected function __construct() {
		parent::__construct();
		add_action( 'rest_api_init', array( $this, 'rest_api_init' ) );
	}

	/**
	 *	@return string
	 */
	public function get_namespace() {
		return '{{plugin_slug}}/v1';
	}

	/**
	 *	@action widgets_init
	 */
	public function rest_api_init(){
{{#modules.wprest.items}}
		Endpoints\{{component.classname}}::instance();
{{/modules.wprest.items}}
	}

}
